@charset "UTF-8";

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

p{
    text-align: justify;
}

body{
    background-image: linear-gradient(to right, #BDD4DE, #EFEFEF, #FF530D, #3F5765, #2B3A42);
    background-attachment: fixed;
}

main{
    background-color: rgba(0, 0, 0, 0.385);
    color: white;
    margin: auto;
    width: 40%;
    padding: 15px;
    border-radius: 10px;
}

h1{
    color: #ff520d;
    background-color: rgba(0, 0, 0, 0.346);
    width: 50%;
    margin: auto;
    padding: 10px;

}

h2{
    color:#BDD4DE;
}